.theme-grey {
  --theme-background-color:#f1f1f1;
  --theme-color:#141414;
  --theme-button-background-color:#141414;
  --theme-button-color:#f1f1f1;
  --theme-link-color:#141414;
  --theme-divider-background-color:#141414;
  --theme-accordion-border-color:#f1f1f1;
  --theme-accordion-background-color: white;
  --theme-accordion-text-color:#141414;
  --theme-input-border:#141414;
  --theme-input-color-marked:#141414
}
