span.submit-trash {
  display: none;
}

input.submit-trash {
  left: auto !important;
}

.position-sticky thead {
  position: relative !important;
  top: auto !important;
}

.node-form .field--name-field-practical-info-buttons {
  display: block !important;
}
