{#
Template: headless_domain_preview.html.twig
Renders a "Preview" link for nodes when a `preview_url` is provided.

Variables:
- preview_url: (string|null) Absolute preview URL. If empty, nothing is printed.
- disabled: (true|null) Shows if button should be disabled
#}
{% if preview_url %}
  <div class="headless-domain-preview">
    {% if disabled %}
      <button class="button button--secondary headless-domain-preview__link" disabled>
        {{ 'Preview'|t }}
      </button>
    {% else %}
      <a href="{{ preview_url }}" class="button button--secondary headless-domain-preview__link" target="_blank" rel="noopener noreferrer">
        {{ 'Preview'|t }}
      </a>
    {% endif %}
  </div>
{% endif %}
