h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700 !important;
  line-height: 1.125;
}

h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 28px !important;
}

h4 {
  font-size: 20px !important;
}
